.div{ 
    display: flex;
    justify-content: space-around;
}
.container {
    display: flex;
    justify-content: space-between}

.sezione{ 
    flex: 1;
}
    .warzone {
    width: 50px;
    height: 50px;
}
.card1 { 
    display: flex;
    
}
.card2 { 
    display: flex;
    justify-content: space-between;
}
.santamarinella {
    width: 50px;
    height: 50px;
}
.card3 { 
    display: flex;
    justify-content: space-between;
    
}
.ikea{
    width: 50px;
    height: 50px;
}
.loghi { 
    display: flex;
    width: 50px;
    height: 50px;
}
.twitter { 
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black ;
    border: 1px solid;
    border-radius: 50px;
}
.twitter:hover { 
    border-color: aliceblue;
    background-color: #106ebe;
    color: white
}
.lineaorizzontale { 
    border: none;
    height: 2px;
    margin: 20px 0;
    background: black ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.titolo { 
    display: flex;
    justify-content: flex-start;
}
.card5 { 
    display: inline-block;
}
.tag { 
    display: inline-flex;
    justify-content: space-around;
    color:black;
    background-color:#e0e0e0;
    border-radius: 100px;
}
.profili{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}   
.profilo1 { 
    border-radius: 50%;
    overflow: hidden;
}
.fotoprofilo { 
    height: 20px;
    width: 10px;
}
.descrizioneprofilo{ 
    display: flex;
    flex-direction: column;

}